@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

.wrap {
  margin: 30px auto 20px;
  width: 400px;
  font-family: "PT Serif", serif;
}

.wrap label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}

.wrap input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme {
  width: 100%;
}

.save-btn {
  all: unset;
  padding: 8px 24px;
  border: 1px solid brown;
  border-radius: 18px;
  background-color: brown;
  color: #fff;
  margin-bottom: 12px;
}

.save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
